/* 番組表用のCSSファイル */

body {
  /* 1時間あたりの高さ */
  --height-per-hour: 240px;
  /* チャンネルヘッダの高さ */
  --channel-header-height: 2rem;
  /* チャンネルヘッダの幅 */
  --channel-header-width: 10rem;
  /* 左端の時間表示の幅 */
  --hour-header-width: 2rem;

  /* 現在時刻の横棒のための変数 jsで随時更新する */
  /* 午前5時を基準とした現在時刻 */
  --now-msec-from-5am: 1;
  /* 今表示されているチャンネル数 */
  --service-count: 1;
}

ix-content-header ix-select {
  flex-grow: 1;
  width: 8rem;
  margin-right: 1rem;
  display: inline-block;
  vertical-align: middle;
}

ix-content-header ix-tabs {
  flex-grow: 1;
  display: inline-block;
  vertical-align: middle;
}

ix-content-header ix-tabs ix-tab-item {
  width: 3rem;
}

.flex-center {
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 番組表のガワ部分 */
.pgtable-container {
  display: block;
  overflow: scroll;
  height: calc(100% - 1rem);
}

.pgtable-container th,
.pgtable-container td {
  vertical-align: top;
  padding: 0;
}

.pgtable-container th {
  position: sticky;
  top: 0px;
  left: 0px;
  z-index: 10;
}

/*
TODO: 番組表の一番下を午前5時できっちり終わらせたかったがレイアウト崩れた
.pgtable-container td {
  max-height: calc(var(--height-per-hour) * 24);
  overflow: hidden;
  display: block;
} */

/* 各種div用 チャンネルヘッダ・左の時刻・各番組・右上の何も無いセル */
.pgtable-ch-header,
.pgtable-hour,
.pgtable-item,
.pgtable-first-cell {
  position: sticky;
  border: var(--theme-std-bdr-1);
  text-align: center;
}

.pgtable-ch-header,
.pgtable-hour,
.pgtable-first-cell {
  background-color: var(--theme-color-3);
}

.pgtable-ch-header {
  height: var(--channel-header-height);
  min-width: var(--channel-header-width);
  max-width: var(--channel-header-width);
}

.pgtable-item {
  min-width: var(--channel-header-width);
  max-width: var(--channel-header-width);
}

.pgtable-hour {
  top: var(--channel-header-height);
  height: var(--height-per-hour);
  width: var(--hour-header-width);
  padding-top: 1rem;
}

.pgtable-first-cell {
  height: var(--channel-header-height);
}

/* 1個の番組情報 */
.pgtable-item {
  top: var(--channel-header-height);
  padding: 0 5px;
  text-align: left;
  overflow: hidden;
  background-color: var(--theme-color-2);
}

/* ダミー番組の場合は背景を暗くする */
.pgtable-item:not(:has(a)) {
  background-color: var(--theme-color-1);
}

/* 番組情報のリンク */
.pgtable-item a:hover {
  cursor: pointer;
  text-decoration: underline;
}

/* 現在時刻の横棒 */
.pgtable-now-line {
  border: var(--theme-primary-bdr-2);
  position: relative;
  opacity: 0.5;
  z-index: 5;
  margin: 0;
  top: calc(var(--now-msec-from-5am) / 1000 / 60 / 60 * var(--height-per-hour) + var(--channel-header-height));
  width: calc(var(--service-count) * var(--channel-header-width) + var(--hour-header-width));
}