# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

[{css,html,ts,ts/{utils,dev}}/*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true

[{ts,ts/{utils,dev}}/*]
# HTML,CSSは末尾に改行を入れてもVSCodeのフォーマットで消える
# tsだけ改行入れる
insert_final_newline = true
