// @use '@carbon/themes/scss/themes' as *;
// @use '@carbon/themes';

@use '@carbon/styles/scss/reset';
@use '@carbon/styles/scss/theme';
@use '@carbon/styles/scss/themes';

:root {
  @include theme.theme(themes.$g90);
  // background-color: var(--cds-background);
  // color: var(--cds-text-primary);
}

html, body {
  width: 100%;
  height: calc(100% - 3rem);
}
main {
  margin-top: 4rem;
  margin-left: 4rem;
  width: calc(100% - 5rem);
  height: calc(100% - 2rem);
}

cds-tabs {
  background-color: var(--cds-layer-01);
  margin-bottom: 1rem;
  // width: calc(100% - 1rem);
}
table {
  display: block;
  overflow: scroll;
  height: 100%;
  // margin-top: 1rem;
  // font-size: medium;
}
th {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: var(--cds-layer-02);
  border: var(--cds-border-tile-02);
}
th[scope="col"] {
  max-width: 180px;
  min-width: 180px;
  padding: 0.5rem;
}
td {
  background-color: var(--cds-layer-01);
  border: var(--cds-border-tile-01);
}
th, td {
  border-width: 1px;
  border-style: solid;
}

// /* system preference theme by default */
// body {
//   @include themes.theme($g10);
//   // background-color: themes.$background;
// }

// @media (prefers-color-scheme: dark) {
//   body {
//     @include themes.theme($g90);
//   }
// }

// /* user has configured a theme preference for the current page/app */
// [data-carbon-theme='white'] {
//   @include themes.theme($white);
// }

// [data-carbon-theme='g10'] {
//   @include themes.theme($g10);
// }

// [data-carbon-theme='g90'] {
//   @include themes.theme($g90);
// }

// [data-carbon-theme='g100'] {
//   @include themes.theme($g100);
// }